@import url("https://raw.githack.com/LuckFire/BottomBar/master/src/old-bottom-bar.css");
:root {
    --bar-color: var(--background-tertiary) !important /* Changes the bar color. */
}

/* Follow Channel */
.form-2fGMdU .wrapper-39oAo3 {
  padding-bottom: 28px;
}
.form-2fGMdU .wrapper-39oAo3 .content-c_0cLD {
  padding-top: 50px;
}
.form-2fGMdU .wrapper-39oAo3 .content-c_0cLD .text-2yjo70 {
  padding-bottom: 15px;
}
.content-c_0cLD + .buttonContainer-3AU1Ij {
  padding-top: 35px;
}

/* Revert Discord Fixes */
.form-2fGMdU {
  border-top: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.channelTextArea-rNsIhG {
  margin-top: 21px !important;
  margin-bottom: 23px !important;
}
.channelTextArea-rNsIhG > .scrollableContainer-2NUZem { 
    margin-left: 8px !important;
    margin-right: 8px !important;
}
